/* #region Base Style */
body {
  color: #434455;
  background-color: #fff;
  font-family: "Roboto", "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1158px;
}
/* #endregion */
/* #region header */
.header {
  padding: 24px 0px 24px;
  margin: 0 auto;
  width: 1440px;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  max-width: 1158px;
  display: flex;
  align-items: center;
}
.logo-header {
  margin: 0;
  padding-right: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-family: "Raleway", sans-serif;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* #endregion header */

/* #region navigation */
.nav {
  display: flex;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.mail-item {
}
.mail-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail-link:hover,
.mail-link:focus {
  color: #404bbf;
}
.num-item {
}
.num-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.num-link:hover,
.num-link:focus {
  color: #404bbf;
}
/* #endregion navigation */

/* #region hero */
.hero {
  padding: 0 auto;
  margin: 0 auto;
  background-color: #2e2f42;
  width: 1440px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 188px;
}
.hero-title {
  max-width: 496px;
  padding: 188px 0px 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features-section {
  font-family: "Roboto", sans-serif;
}
/* #endregion hero */

/* #region features */
.features-section {
  padding: 121px 0px 119px;
}
.features-section .container {
  max-width: 1158px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion features */
/* #region team */
.team-section {
  max-width: 1440px;
  margin: 0 auto;
  background: #f4f4fd;
}
.team-section .container {
}
.team-title {
  padding: 120px 0px 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  border-radius: 0 0 4px 4px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.team-item {
  gap: 8px;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  background-color: #fff;
}
.team-img {
  padding: 0px 0px 32px;
  width: 264px;
  height: auto;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 auto;
  padding-bottom: 32px;
}

/* #endregion team */
/* #region portfolio */
.our-portfolio {
}
.our-portfolio .container {
}
.portfolio-title {
  padding: 120px 0px 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  padding-left: 0px;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  margin-bottom: 24px;
  border: 1px solid #e7e9fc;
}
.portfolio-img {
  padding: 0 auto;
  margin: 0 auto;
  padding-bottom: 32px;
  max-width: 100%;
  display: block;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */
/* #region footer */
.footer {
  padding: 100px 156px 100px;
  display: flex;
  flex-direction: column;
  background-color: #2e2f42;
  width: 1440px;
  margin: 0 auto;
}
.footer .container {
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  padding-bottom: 16px;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  display: block;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
